/videos/
keystone.xml
default.ser
default.ser
keystone.xml
.DS_Store
data/.DS_Store
application.macosx64/source/KinectTracker.pde
application.macosx64/source/Keystone.pde
application.macosx64/source/FlockingMask_v2.pde
application.macosx64/source/FlockingMask_v2.java
application.macosx64/source/Flock.pde
application.macosx64/source/FilesHandling.pde
application.macosx64/source/ControlsUI.pde
application.macosx64/source/Boid.pde
application.macosx64/source/AveragePointTracker.pde
application.macosx64/FlockingMask_v2.app/Contents/Resources/sketch.icns
application.macosx64/FlockingMask_v2.app/Contents/Resources/en.lproj/Localizable.strings
application.macosx64/FlockingMask_v2.app/Contents/PkgInfo
application.macosx64/FlockingMask_v2.app/Contents/MacOS/FlockingMask_v2
application.macosx64/FlockingMask_v2.app/Contents/Java/video.jar
application.macosx64/FlockingMask_v2.app/Contents/Java/v2/msvc/turbojpeg.lib
application.macosx64/FlockingMask_v2.app/Contents/Java/v2/msvc/turbojpeg.dll
application.macosx64/FlockingMask_v2.app/Contents/Java/v2/msvc/OpenCL.lib
application.macosx64/FlockingMask_v2.app/Contents/Java/v2/msvc/libusb-1.0.lib
application.macosx64/FlockingMask_v2.app/Contents/Java/v2/msvc/libusb-1.0.dll
application.macosx64/FlockingMask_v2.app/Contents/Java/v2/msvc/libJNILibfreenect2.dll
application.macosx64/FlockingMask_v2.app/Contents/Java/v2/mac/libusb-1.0.0.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/v2/mac/libturbojpeg.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/v2/mac/libturbojpeg.a
application.macosx64/FlockingMask_v2.app/Contents/Java/v2/mac/libJNILibfreenect2.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/v1/msvc/pthreadVC2.dll
application.macosx64/FlockingMask_v2.app/Contents/Java/v1/msvc/libusb-1.0.dll
application.macosx64/FlockingMask_v2.app/Contents/Java/v1/msvc/freenect.dll
application.macosx64/FlockingMask_v2.app/Contents/Java/v1/mac/libusb-1.0.0.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/v1/mac/libfreenect.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/v1/linux/libfreenect.so.0.5.2
application.macosx64/FlockingMask_v2.app/Contents/Java/v1/linux/libfreenect.so.0.5
application.macosx64/FlockingMask_v2.app/Contents/Java/v1/linux/libfreenect.so
application.macosx64/FlockingMask_v2.app/Contents/Java/v1/linux/libfreenect.a
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgsty4menc.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgsty4mdec.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstxvid.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstwavparse.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstwavenc.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstvorbis.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstvolume.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstvmnc.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstvideotestsrc.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstvideosignal.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstvideoscale.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstvideorate.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstvideoparsersbad.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstvideomixer.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstvideomeasure.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstvideomaxrate.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstvideofiltersbad.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstvideofilter.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstvideocrop.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstvideobox.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstudp.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgsttypefindfunctions.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgsttta.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgsttheora.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgsttcp.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstsubparse.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstsubenc.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgststereo.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstspeed.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstspectrum.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstsmpte.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstsiren.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstshapewipe.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstsegmentclip.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstsdpelem.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstsdi.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstscaletempoplugin.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstrtsp.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstrtpvp8.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstrtpmux.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstrtpmanager.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstrtp.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstrfbsrc.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstreplaygain.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstreal.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstrawparse.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstpostproc.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstpnm.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstplaybin.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstpcapparse.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstpatchdetect.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstosxvideosink.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstosxaudio.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstoss4audio.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstogg.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstnuvdemux.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstnsf.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstnavigationtest.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstmxf.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstmve.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstmusepack.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstmultipart.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstmultifile.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstmulaw.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstmpegvideoparse.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstmpegtsmux.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstmpegtsdemux.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstmpegpsmux.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstmpegdemux.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstmatroska.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstliveadder.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstlevel.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstlegacyresample.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstjpegformat.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstjp2kdecimator.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstjp2k.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstivfparse.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstisomp4.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstinterleave.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstinterlace.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstimagefreeze.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstid3tag.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstid3demux.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgsticydemux.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgsthdvparse.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgsth264parse.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstgsettingselements.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstgoom2k1.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstgoom.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstgio.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstgeometrictransform.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstgdp.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstgaudieffects.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstfrei0r.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstfreeze.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstfragmented.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstflxdec.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstflv.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstfieldanalysis.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstffmpegscale.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstffmpegcolorspace.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstffmpeg.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstfestival.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstequalizer.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstencodebin.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgsteffectv.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstefence.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstdvdspu.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstdvbsuboverlay.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstdv.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstdtsdec.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstdtmf.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstdeinterlace.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstdecodebin2.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstdecodebin.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstdebugutilsbad.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstdebug.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstdccp.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstdc1394.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstdataurisrc.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstcutter.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstcoreindexers.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstcoreelements.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstcolorspace.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstcoloreffects.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstcdxaparse.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstcamerabin2.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstcamerabin.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstbz2.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstbayer.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstavi.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstautodetect.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstautoconvert.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstauparse.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstaudiotestsrc.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstaudioresample.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstaudiorate.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstaudioparsers.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstaudiofx.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstaudioconvert.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstasfmux.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstapplemedia.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstapp.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstapexsink.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstapetag.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstannodex.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstalphacolor.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstalpha.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstalaw.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstaiff.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstadpcmenc.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstadpcmdec.so
application.macosx64/FlockingMask_v2.app/Contents/Java/plugins/libgstadder.so
application.macosx64/FlockingMask_v2.app/Contents/Java/openkinect_processing.jar
application.macosx64/FlockingMask_v2.app/Contents/Java/libz.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libxvidcore.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libxml2.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libvorbisenc.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libvorbis.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libusb-1.0.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libtheoraenc.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libtheoradec.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libssl.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/liborc-test-0.4.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/liborc-0.4.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libogg.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libncurses.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libmpcdec.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libjpeg.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libjasper.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libintl.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libiconv.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgthread-2.0.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstvideo-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgsttag-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstsdp-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstrtsp-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstrtp-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstriff-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstreamer-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstphotography-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstpbutils-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstnetbuffer-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstinterfaces-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstfft-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstdataprotocol-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstcontroller-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstcodecparsers-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstbasevideo-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstbasecamerabinsrc-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstbase-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstaudio-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgstapp-0.10.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgobject-2.0.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgmodule-2.0.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libglib-2.0.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libgio-2.0.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libffi.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libdv.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libdca.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libdc1394.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/libcrypto.dylib
application.macosx64/FlockingMask_v2.app/Contents/Java/keystone.jar
application.macosx64/FlockingMask_v2.app/Contents/Java/jogl-all.jar
application.macosx64/FlockingMask_v2.app/Contents/Java/jogl-all-natives-macosx-universal.jar
application.macosx64/FlockingMask_v2.app/Contents/Java/jna.jar
application.macosx64/FlockingMask_v2.app/Contents/Java/jai_core.jar
application.macosx64/FlockingMask_v2.app/Contents/Java/gstreamer-java.jar
application.macosx64/FlockingMask_v2.app/Contents/Java/gluegen-rt.jar
application.macosx64/FlockingMask_v2.app/Contents/Java/gluegen-rt-natives-macosx-universal.jar
application.macosx64/FlockingMask_v2.app/Contents/Java/FlockingMask_v2.jar
application.macosx64/FlockingMask_v2.app/Contents/Java/data/videos/test_1.mp4
application.macosx64/FlockingMask_v2.app/Contents/Java/data/texture.png
application.macosx64/FlockingMask_v2.app/Contents/Java/data/texture.gif
application.macosx64/FlockingMask_v2.app/Contents/Java/data/moonwalk.jpg
application.macosx64/FlockingMask_v2.app/Contents/Java/data/mask.jpg
application.macosx64/FlockingMask_v2.app/Contents/Java/core.jar
application.macosx64/FlockingMask_v2.app/Contents/Java/controlP5.jar
application.macosx64/FlockingMask_v2.app/Contents/Info.plist
